// Placeholder to allow overriding predefined variables smoothly.

$sol-base03:   #1ad42a;  // 15 -12 -12 // #002b36
$sol-base02:   #212424;  // 20 -12 -12 // #073642
$sol-base0:    #c16d53;  // 60 -06 -03 // #839496
$sol-blue:     #268bd2;  // 55 -10 -45 // #268bd2
